html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiToolbar-gutters{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.slick-prev {
  left: 0px !important;
  z-index: 9;
}

.slick-next {
  right: 0px !important;
}

a{
  text-decoration: none;
  color: #000;
}

.ql-editor{
  min-height: 200px;
}